NETWORK_MONITOR_BIND_ADDRESS=0.0.0.0
NETWORK_MONITOR_API_PORT=8080
NETWORK_MONITOR_API_HOST_PORT=18080
NETWORK_MONITOR_WEB_HOST_PORT=18000
NETWORK_MONITOR_COLLECTOR_PORT=19091
NETWORK_MONITOR_DATABASE_URL=postgres://network_monitor:network_monitor@network-monitor-db:5432/network_monitor?sslmode=disable
NETWORK_MONITOR_COLLECTOR_DATABASE_URL=postgres://network_monitor:network_monitor@127.0.0.1:15432/network_monitor?sslmode=disable
NETWORK_MONITOR_DB_HOST_PORT=15432
NETWORK_MONITOR_TIMEZONE=Asia/Colombo
NETWORK_MONITOR_LAN_CIDRS=192.168.1.0/24,10.0.0.0/8,172.16.0.0/12,127.0.0.0/8
NETWORK_MONITOR_DOCKER_CIDRS=172.17.0.0/16,172.18.0.0/16,172.19.0.0/16,172.20.0.0/16,172.21.0.0/16
NETWORK_MONITOR_COLLECTOR_INTERVAL=1s
NETWORK_MONITOR_HOST_PROC_ROOT=/host/proc
NETWORK_MONITOR_RAW_RETENTION_DAYS=7
NETWORK_MONITOR_NIGHT_START=00:00
NETWORK_MONITOR_NIGHT_END=07:00
POSTGRES_DB=network_monitor
POSTGRES_USER=network_monitor
POSTGRES_PASSWORD=network_monitor
