NETWORK_MONITOR_BIND_ADDRESS=0.0.0.0
NETWORK_MONITOR_API_PORT=8080
NETWORK_MONITOR_COLLECTOR_PORT=9091
NETWORK_MONITOR_DATABASE_URL=postgres://network_monitor:network_monitor@network-monitor-db:5432/network_monitor?sslmode=disable
NETWORK_MONITOR_TIMEZONE=Asia/Colombo
NETWORK_MONITOR_LAN_CIDRS=192.168.1.0/24,10.0.0.0/8,172.16.0.0/12,127.0.0.0/8
NETWORK_MONITOR_DOCKER_CIDRS=172.17.0.0/16,172.18.0.0/16,172.19.0.0/16,172.20.0.0/16,172.21.0.0/16
NETWORK_MONITOR_NIGHT_START=00:00
NETWORK_MONITOR_NIGHT_END=07:00
POSTGRES_DB=network_monitor
POSTGRES_USER=network_monitor
POSTGRES_PASSWORD=network_monitor
